[Unit]
Description=Scheduled end to night mode

[Timer]
OnCalendar=Mon..Fri 07:00:00
OnCalendar=Sat,Sun 09:00:00
Persistent=true
Unit=nightynight@off.service

[Install]
WantedBy=timers.target
