[Unit]
Description=Scheduled night mode

[Timer]
OnCalendar=*-*-* 20:30:00
Persistent=true
Unit=nightynight@auto.service

[Install]
WantedBy=timers.target
